/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* AUTH */

.auth-button {
  width: 100%;
  background: var(--main);
  border-radius: var(--r0);
  color: white;
  height: 38px;
}

.auth-button:hover {
  filter:brightness(110%)
}

.auth-button:hover[disabled],
button[disabled] {
  opacity: 0.4;
  filter: saturate(80%);
  filter: hue-rotate(-8deg);
}

.auth-container {
  min-height: 100vh;
  padding: var(--m2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(120deg,#ffffff 55%, var(--main) 45%);
}

.authbox-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authbox-wrap .logo-wrap {
  margin-bottom: var(--m6);
}

.authbox-wrap .logo,
.authbox-wrap .logo-text {
  height: 36px;
}

.authbox {
  width: 100%;
  min-width: 280px;
  max-width: 450px;
  height: auto;
  padding: var(--m9) var(--m7);
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background-color: #ffffff;
  border: 1px solid var(--grey2);
  box-shadow: var(--sh-box);
}

.authbox-title {
  text-align: center;
  color: #111012;
  font-size: 23px;
  font-weight: 600;
}

.authbox-note {
  margin-top: var(--m6);
  text-align: center;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: var(--m7);  
  margin-top: var(--m7);
}

.Signin .auth-form {
  margin-top: 0;
}

.eyeicon-wrap {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border-radius: var(--m1);
  background-size: cover;
}

.footnote,
.footnote-wrap {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: var(--m6);
}

.footnote-wrap {
  flex-direction: column;
  gap: var(--m1);
}

.auth-link {
  color: var(--pblue);
  text-decoration: underline;
}

.disabled-link {
  color: var(--pblue);
  opacity: 0.7;
  text-decoration: none;
}

.disabled-link-focus {
  color: var(--pblue);
  text-decoration: none;
  opacity: 0.5;
}

.cooldown {
  position: absolute;
  left: 50%;
  margin-left: var(--m11);
  color: var(--main);
}

/* Sign Up */

.signup-start {
  display: none;
  /* min-height: 620px; */
}

.start-box-wrap {
  margin-top: var(--m4);
}

.start-box .list-item {
  display: flex;
  margin-top: var(--m8);
}

.start-box .list-icon {
  margin-right: var(--m3);
  margin-top: 6px;
}

.start-box .h7 {
  color: var(--blue);
}

.start-box .list-text {
  width: 400px;
  display: flex;
  font-size: var(--text-s);
}

.terms-box {
  display: flex;
  align-items: flex-start;
  font-size: var(--text-xs);
}

.terms-box input {
  margin-top: var(--m1);
  margin-right: var(--m2);
  /* box-shadow: none !important;   */
  outline: none;
}

/* Sign In */

.google-button-wrap {
  margin-top: var(--m7);
}

.google-button {
  width: 100%;
  height: 38px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--m1) var(--m2);
  border-radius: var(--m2);
  border: 1px solid var(--grey3);;
}

.option-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--m6);
  margin-top: var(--m6);
  margin-bottom: var(--m6);
}

.option-line {
  width: 100%;
  height: 1px;
  position: relative;
  background-color: #E5E9EB;
}

/* Authcode */

.authcode-wrap {
  margin-top: var(--m7);
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.authkey {
  width: 40px;
  height: 56px;
  padding: 1px 4px;
  background-color: white;
  border: 1px solid var(--grey4);
}

.authkey.left {
  border-top-left-radius: var(--r0);
  border-bottom-left-radius: var(--r0);
  border-right: 0px solid;
}

.authkey.right {
  border-top-right-radius: var(--r0);
  border-bottom-right-radius: var(--r0);
  border-left: 0px solid;
}

.authkey-space-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.authkey-space {
  width: 8px;
  height: 4px;
  background-color: var(--grey4);
  border-radius: 4px;
  margin-left: 16px;
  margin-right: 16px;
}

.authkey-number {
  width: 100%;
  height: 100%;
  user-select: none;
  color: var(--dark);
  font-size: 32px;
  font-weight: 600;
}

@media (min-width: 768px) {
  .custom-class {
    margin-top: var(--m24);
  }
}


@media (min-width: 1024px) {

  .signup-start {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

@media (min-width: 640px) {

  .authbox {
    padding: var(--m9) var(--m9);
  }

}
