@tailwind base;
@tailwind components;
@tailwind utilities;

.root {

  /* Text Sizes */

  --text-xs: 0.75rem; /* 12px */
  --line-xs: 1rem; /* 16px */

  --text-ss: 0.8rem; /* 14px */
  --line-ss: 1.25rem; /* 20px */

  --text-s: 0.875rem; /* 14px */
  --line-s: 1.25rem; /* 20px */

  --text-b:	1rem; /* 16px */
  --line-b: 1.5rem; /* 24px */

  --text-l:	1.125rem; /* 18px */
  --line-l: 1.75rem; /* 28px */

  --text-1: 1.25rem; /* 20px */
  --line-1: 1.75rem; /* 28px */

  --text-2: 1.5rem; /* 24px */
  --line-2: 2rem; /* 32px */

  --text-3:  2rem; /* 32px */
  --line-3: 2.25rem; /* 36px */

  --text-4: 2.25rem; /* 36px */
  --line-4: 2.5rem; /* 40px */

  --text-5: 3rem; /* 48px */
  --text-6: 3.75rem; /* 60px */

  /* Border Radius */

  --r1: 4px; 
  --r2: 6px; 
  --r3: 8px; 
  --r4: 10px; 
  --r5: 16px; 
  --r6: 30px; 
  --r7: 40px; 
  --r8: 48px; 
  --r9: 60px; 

  /* Margins & Paddings */

  --m0: 0.125rem;   /* 2px */
  --m1: 0.25rem;    /* 4px */
  --m2: 0.5rem;     /* 8px */
  --m3: 0.75rem;    /* 12px */
  --m4: 1rem;       /* 16px */
  --m5: 1.25rem;    /* 20px */
  --m6: 1.5rem;     /* 24px */
  --m7: 2rem;       /* 32px */
  --m8: 2.5rem;     /* 40px */
  --m9: 3rem;       /* 48px */
  --m10: 4rem;      /* 64px */
  --m11: 5rem;      /* 80px */
  --m12: 6rem;      /* 96px */
  --m13: 8rem;      /* 128px */
  --m14: 10rem;     /* 160px */
  --m15: 12rem;     /* 192px */
  --m16: 14rem;     /* 224px */
  --m17: 16rem;     /* 256px */

  /* Size */

  --toolbar-h: 74px;
  --sidebar-w: 274px;
  --btn-h: 34px;
  --padding: var(--m7);
  --m-padding: var(--m5);

  --btn-rad: var(--r1);

  --pad-box: var(--m5);
  --radius: var(--r4);
  --pad-cell: var(--m2) var(--m3);

  --top-radius: var(--r5) var(--r5) 0 0;
  --bottom-radius: 0 0 var(--r5) var(--r5);

  --r: 1px solid red;

  /* Colors */

  /* sidebar white mode */
  --sidebar-bg: var(--grey);
  --nav-font: var(--dark);
  --nav-font-active: var(--white);
  --nav-bg: var(--main);
  --nav-bg-hover: var(--grey2);

  /* sidebar blue mode */
  --sidebar-bg: var(--main);
  --nav-font: var(--white);
  --nav-font-active: var(--dark);
  --nav-bg: var(--white);
  --nav-bg-hover: var(--blue1);

  /**/

  --white: white;
  --black: var(--dark2);
  --main: var(--blue);

  --text: var(--dark3);
  --border: 1px solid var(--grey3);
  --sborder: 1px solid var(--grey2);

  --trans: rgba(0, 0, 0, 0.5);

  --dark1: hsl(245, 30%, 18%); 
  --dark2: hsl(245, 35%, 20%);
  --dark3: hsl(245, 20%, 25%);
  --dark4: hsl(242, 10%, 43%);
  --dark5: hsl(242, 0%, 45%);
  --dark6: hsl(242, 0%, 50%);

  --grey: hsl(240, 10%, 99%);
  --grey1: hsl(240, 10%, 97%);
  --grey2: hsl(240, 10%, 93%);
  --grey3: hsl(240, 10%, 90%);
  --grey4: hsl(240, 10%, 80%);
  --grey5: hsl(240, 10%, 70%);
  --grey6: hsl(240, 10%, 65%);

  --blue: #5545fa;
  --blue1: #615ffe;
  --blue2: #7370ff;
  --blue3: #c3bdff;
  --blue4: #e6e5f7;
  
  --darkgreen: #139b8e;

  --green: #02cfbb;
  --green2: hsl(174, 40%, 70%);
  --green4: #e4fbeb;

  --dgreen: #02cf8b;

  --darkred: hsl(8, 100%, 25%);
  --red: hsl(8, 100%, 56%);
  --red2: hsl(1, 100%, 75%);
  --red3: hsl(1, 100%, 80%);

  --sYellow: #fdff78;

  --sBlue: #D0CFFF;
  --sBlue2: #aba8ff;

  --sCyan: #DBF0FF;
  --sCyan2: #bee4ff;

  --sGreen: #EDFFF2;
  --sOrange: #fff3ed;

  /* ------------ Gradients -------------*/

  --blueGrad: linear-gradient(
    to right, 
    var(--blue),
    var(--green)
  );

  --overlay:
  linear-gradient(180deg, 
  rgba(0, 0, 0, 0.9),
  rgba(0, 0, 0, 0.4),
  rgba(0, 0, 0, 0.3), 
  rgba(0, 0, 0, 0.3));

  /* Shadow */

  --sh-i: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  --sh-s: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --sh-m: 4px 4px 6px 0px rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --sh-l: 0 10px 10px -5px rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --sh-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --sh-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);

  --sh-img: 0px 5px 15px rgb(30, 20, 100, 0.1);
  --sh-box: 5px 5px 5px 0px rgba(0, 0, 0, 0.03);
  --sh-dropdown: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
  --sh-btn: 2px 5px 10px 0px rgba(47, 0, 135, 0.2);
  --sh-btn-hover: 2px 5px 10px 0px rgba(47, 0, 135, 0.631);
}

/* Colors */

.finder {
  border: 1px solid red;
}
.finder2 {
  border: 1px solid rgb(0, 224, 75);
}
.finder3 {
  border: 1px solid rgb(255, 187, 0);
}

.main-grad {
  background: var(--main);
}
/* text-violet-700 */
.blue-text2 {
  color: var(--main);
}
/* text-violet-500 */
.blue-text3 {
  color: var(--main);
}

.blue-text {
  color: var(--main);
}

.grey-text {
  color: var(--dark4);
}

/* 
.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
} */

/* Spacing */

.mt-box { margin-top: var(--m8); }
.mt-text { margin-top: var(--m7) }
.mt-btn { margin-top: var(--m4) }

.ml-text { margin-left: var(--m1); }
.mr-text { margin-right: var(--m1); }

/* Position */

.row-wrap,
.row-wrap-2,
.row-wrap-3 {
  display: flex;
  align-items: center;
} 
.row-wrap { gap: var(--m1); }
.row-wrap-2 { gap: var(--m2); }
.row-wrap-3 { gap: var(--m3); }

.row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
}

.row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--m3);
}

.row-align-center  {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text-center {
  text-align: center;
}

.column-wrap {
  display: flex;
  flex-direction: column;
}

.left-wrap {
  display: flex;
  justify-content: flex-end;
}

.center-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 300px);
}

/* Text */

h1 {
  font-size: 2.25rem;
  font-weight: 600;
}

h2 {
  font-size: 1.875rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

h4 {
  font-size: 1.25rem;
  font-weight: 600;
}

h5 {
  font-size: 1.125rem;
  font-weight: 500;
}

h6 {
  font-size: 1rem;
  font-weight: 500;
}

.h7 {
  font-size: var(--text-s);
  line-height: var(--line-s);
  font-weight: 500;
}

.h8 {
  font-size: var(--text-xs);
  line-height: var(--line-xs);
  font-weight: 400;
}

.h9 {
  font-size: var(--text-xs);
  line-height: var(--line-xs);
  color: var(--dark4);
}

.bold {
  font-weight: 600;
}

.text-small {
  font-size: var(--text-s);
}

.text-s-thin {
  color: var(--dark4);
  font-weight: 350;
  font-size: var(--text-s);
}

.text-s-grey {
  color: var(--dark5);
  font-weight: 350;
  font-size: var(--text-s);
}

.fake-link {
  color: var(--main);
  text-decoration: underline;
  margin: var(--m1);
}

.warning-text,
.warning-text-2,
.warning-text-3 {
  color: var(--red);
  font-size: var(--text-xs);
  margin-top: var(--m1);
  margin-bottom: -8px;
  font-weight: 300;
  /* position: absolute; */
}
.warning-text-2 {
  margin-top: var(--m2);
}
.warning-text-3 {
  position: relative;
  top: 0px;
  left: 4px;
}

/* Button */

button:active, 
button:hover,
button:focus,
a:active,
a:focus,
a:hover {
  cursor: pointer;
  outline: none;
}

button[disabled] {
  cursor: auto;
}

.app-button {
  width: 100%;
  background: var(--main); 
  border-radius: var(--r2);
  color: white;
  min-height: var(--btn-h);
}

.app-button:hover {
  filter:brightness(110%);
}

.app-button:hover[disabled],
button[disabled] {
  opacity: 0.4;
  filter: saturate(80%);
  filter: hue-rotate(-8deg);
}

.button-wrap {
  display: flex;
  align-items: center;
  gap: var(--m3);
}

.sec-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  min-width: 140px;
  height: var(--btn-h);
  padding: 0 var(--m3);
  border: var(--sborder);
  border-radius: var(--btn-rad); 
  gap: var(--m2);
  background: var(--grey);
  font-size: var(--text-s);
  font-weight: 400;
  color: var(--main);
}

.sec-button.blue {
  background: var(--main);
  color: var(--white);
  border: 1px solid var(--main);
  font-weight: 300;
}
.sec-button.red {
  background: var(--red3);
  color: var(--darkred);
  border: 1px solid var(--red);
  font-weight: 400;
}

.small-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  min-width: 50px;
  height: 24px;
  padding: 0 var(--m3);
  border: var(--sborder);
  border-radius: var(--btn-rad); 
  gap: var(--m2);
  background: var(--grey);
  font-size: var(--text-s);
  font-weight: 400;
  color: var(--main);

}

/* Input */

input {
  width: 100%;
}

.main-input {
  width: 100%;
  height: 38px;
  padding: var(--m2) var(--m3);
  background: var(--white);
  border-radius: var(--r2);
  border: 1px solid;
  border-color: var(--grey3);
}

.error {
  border-color: red;
}
.valid {
  border-color: var(--grey3);
}

.main-input.disabled {
  background: var(--grey);
}

.app-input {
  width: 100%;
  height: var(--btn-h);
  padding: 0 var(--m3);
  background: var(--white);
  border-radius: var(--btn-rad);
  border: var(--sborder);
}

input:focus {
  outline: none;
}

/* Select */

select {
  width: 100%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: var(--sborder);
  padding: 0 var(--m3);
  border-radius: var(--btn-rad);
  height: var(--btn-h);
}
  .select-wrap {
    position: relative;
  }
  .select-arrow {
    position: absolute;
    top: 6px;
    right: var(--m2);
    cursor: pointer;
  }

/* Tags */

.small-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 20px; 
  padding: var(--m1);  
  background-color: var(--main);
  color: var(--white);
  font-size: 11px;
  font-weight: 400;
  border-radius: var(--r1);
}

.small-tag.grey {
  background-color: var(--grey2);
  color: var(--dark);
  font-weight: 500;
  height: 18px; 
}

.medium-tag {
  background: var(--grey2);
  color: var(--dark);
  border-radius: var(--r1);
  padding: 4px 6px;
  margin-right: 6px;
  font-weight: 600;
  text-transform: uppercase;
}

.coming-soon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: var(--m3);  
  background-color: var(--main);
  color: var(--white);
  font-weight: 400;
  border-radius: var(--r3);
  margin-top: 200px;
}

/* Warning Modal Message */

.warning-modal {
  border: 1px solid #f3e482;
  border-radius: var(--r2);
  background: #fffbdf;
  padding: 6px 10px;
  margin-top: 10px;
  color: #835c0d;
  font-weight: 300;
  font-size: var(--text-ss);

}

/* CopyClip */

.copy-clip {
  background: var(--grey1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copy-clip button{
  background: var(--grey1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
}

.copy-clip img {
  width: 16px;
  height: 16px;
}

/* Status Label */

.status-label {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: var(--m1); */
  gap: 4px;
  font-weight: 400;
  min-width: 100px;
  height: 28px;
  padding-left: 8px;
  padding-right: 12px;
  border-radius: 6px;
  /* padding-left: var(--m2);
  padding-right: var(--m3);
  border-radius: var(--r2); */
  border: 1px solid;
  font-size: var(--text-ss);
}

.status-icon {
  width: 14px;
  height: auto;
}

.status-success {
  color: #008c41;
  background-color: #009b4810;
  border-color: #b0e1c7;
}

.status-canceled {
  color: #ca1400;
  background-color: #cb140010;
  border-color: #ffc3bd;
}

.status-pending {
  color: #c46f00;
  background-color: #ffbb0010;
  border-color: #c46f00;
}

.status-refunded {
  color: #0045aec4;
  background-color: #0062ff10;
  border-color: #b0ceff;
}

.status-default {
  color: #4B5563;
  background-color: #062a5d10;
  border-color: #c2cbd6;
}

/* ToolTip */

.tooltip-box {
  position: relative;
  padding: var(--m2);
  border-radius: var(--r2);
  background-color: white;
  border: 1px solid var(--grey3);
  box-shadow: var(--sh-box);
}

.tooltip-box.down {
  width: 100%;
  min-width: 240px;
}

.tooltip-box p {
  font-size: var(--text-ss);
  color: var(--dark2);
}

.tooltip-box.chart p {
  text-transform: uppercase;
}

.tooltip-box::before,
.tooltip-box::after {
  content: "";
  position: absolute;
  border-style: solid;
}

.tooltip-box::before {
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  border-width: 8px;
  border-color: transparent var(--white) transparent transparent ;
  z-index: 2;
}

.tooltip-box::after {
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  border-width: 9px;
  border-color: transparent var(--grey3) transparent transparent ;
}

.tooltip-box.down::before {
  top: 100%;
  right: 50%;
  transform: translateX(45%);
  border-width: 8px;
  border-color: var(--white) transparent transparent  transparent ;
  z-index: 2;
}

.tooltip-box.down::after {
  top: 101%;
  right: 50%;
  transform: translateX(45%);
  border-width: 9px;
  border-color: var(--grey3) transparent transparent transparent ;
}

/* Hover Tip Box */

.tip-box {
  position: absolute;
  top: -300%;
  z-index: 20;
}

.tip-wrap {
  padding: var(--m3);
  background: var(--grey);
  border: var(--border);
}

/* .tip-wrap {
  padding: var(--m3);
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-end;
  background: var(--grey);
  border: var(--border);
}
.tip-text {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  line-height: normal;
} */


/* Images */

.logo-wrap {
  display: flex;
}

.logo {
  width: auto;
  height: 36px;
  margin-right: var(--m2);
}

.logo-text {
  width: auto;
  height: 36px;
  margin-top: var(--m1);
}

/* Loader */

.button-loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: var(--m14);
}

/* Elements */

.custom-radio {
  cursor: pointer;
  accent-color: var(--main);
  width: 16px;
  height: auto;
}

.custom-axis-label {
  letter-spacing: 0.24px !important;
}

.custom-checkbox {
  cursor: pointer;
  background-color: var(--main);
  accent-color: var(--main);
}

.custom-checkbox:hover {
  background-color: var(--main);
  accent-color: var(--main);
}

/* React Calendar */

.react-calendar {
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 24px !important;
  color: var(--dark) !important;
  text-decoration: none !important;
  width: 326px !important;
  max-width: 100% !important;
  padding: 20px !important;
  background: white !important;
  border: var(--border) !important;
  text-transform: capitalize !important;
  border-radius: 6px !important;
  border: white;
  box-shadow: var(--sh-box);
  z-index: 100;
}

.react-calendar__navigation__label__labelText {
opacity: 1 !important;
}

abbr:where([title]) {
  -webkit-text-decoration: none !important;
  text-decoration: none !important;
  font-size: var(--text-ss) !important;
  font-weight: 500 !important;
  line-height: 24px !important;
  color: var(--main) !important;
  text-transform: capitalize !important;
}

.react-calendar__navigation button {
  color: var(--dark) !important;
  min-width: auto !important;
  background: none !important;
  margin-top: 0px !important;
  background-color: white !important;
  color: var(dark) !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: 24px !important;
  opacity: 0.8 !important;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: white !important;
}
.react-calendar__navigation button[disabled] {
  background-color: white !important;
}

.react-calendar__tile:disabled {
  background-color: white !important;
}

.react-calendar__tile--now {
  background: white !important;
  color: var(--dark) !important;}

.react-calendar__month-view__days__day--weekend {
  color: var(--dark) !important;
  text-transform: capitalize !important;
}

.react-calendar__navigation__next2-button {
  display: none !important;
}

.react-calendar__navigation__prev2-button {
  display: none !important;
}

.react-calendar__navigation__arrow[disabled] img {
  opacity: 0.5;
}

.react-calendar__tile:hover {
  background-color: var(--grey1) !important;
  border-radius: var(--r3);
}

.react-calendar__tile--active {
  border-radius: 4px !important;
  border: 1px solid var(--main) !important;
  background: #f0f0ff !important;
  color: var(--main)!important;
  width: 42px !important;
  height: 42px !important;
  padding: 9px !important;
  font-weight: 600 !important;
}

/* Animations */

.animated-link {
  position: relative;
}

.animated-link::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #6200ee;
  bottom: 0;
  left: 0;
  transition: width 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.animated-link:hover::after {
  width: 100%;
  animation: border-slide 1s ease infinite;
}

@keyframes border-slide {
  to {
    transform: scaleX(0);
  }
}
