

.sidebarModal {
  outline: none;

  /* Customize the scrollbar track */
  ::-webkit-scrollbar {
    width: 12px;
  }

  /* Customize the scrollbar thumb (the draggable part) */
  ::-webkit-scrollbar-thumb {
    background-color: #e5e9eb;
    border-radius: 30px;
  }

  /* Customize the scrollbar thumb on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #e5e9eb;
  }
}

/* Header */

.header {
  position: fixed;
  width: 100%;
  height: var(--toolbar-h);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 30;
  padding-left: 20px;
  padding-right: 30px;
  background: var(--white);
  border-bottom: var(--border);
}

.sticky-header {
  position: sticky;
  top: 0;
  height: var(--toolbar-h);
  z-index: 0;
}

.user-wrap {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Sidebar */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 100vh;
  width: var(--sidebar-w);
  border-right: var(--border);
  background: var(--sidebar-bg);
}

.sidebar.sidebar-hide {
  transform: translateX(-100%);
}
.sidebar.sidebar-show {
  transform: translateX(0);
}

.logo-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 40;
  padding-top: var(--m3);
  height: var(--toolbar-h);
  padding-left: var(--m8);
}

  .dash-logo {
    width: auto;
    height: 25px;
  }

.nav-box {
  position: relative;
  padding: var(--m4) var(--m7);
  overflow-y: auto;
  height: calc(100vh - var(--toolbar-h));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: var(--m1);
}

.nav-box li {
  margin: var(--m2) 0;
  list-style-type: none;
}

.nav-image {
  margin-right: var(--m2);
  width: 20px;
  height: 20px;
}

.invert-icon {
  filter: invert();
}

.navlink-wrap {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0;
  padding: 8px;
  border-radius: 6px;
}
  .navlink-wrap:hover {
    background: var(--nav-bg-hover);
  }

.navlink {
  color: var(--nav-font);
}

.navlink-active,
.navlink-active:hover {
  background: var(--nav-bg);
  font-weight: 600;
  color: var(--nav-font-active) !important;
  letter-spacing: 0.01rem;
}

.extra-nav-links p {
  color: var(--nav-font);
}

.exit-button {
  position: absolute;
  right: 24px;
  top: 28px;
  color: var(--text);
  border: var(--border);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 12px;
  padding: var(--m3);
  border-radius: var(--r1);
  cursor: pointer;
}

.exit-button svg {
filter: brightness(500%);
}

/* Mobile Button */

.mobile-toolbar {
  position: fixed;
  height: var(--toolbar-h);
  top: 0;
  z-index: 35;
  width: 100%;
  display: flex;
}

.mobile-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--m0);
  margin-left: var(--m3);
  font-size: 0.875rem;
  color: var(--dark4);
  border-radius: 0.5rem;
}

/* Pagination */

.page-count-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.reports-container {
  align-self: flex-start;
  /* width: 40%; */
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 60%; */
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.page-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}
.page-item:hover {
  background: var(--grey2);
}

.active-page,
.active-page:hover {
  background-color: var(--blue1);
  color: var(--white);
  font-weight: 500;
}

.previous-button,
.next-button {
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.page-item-count {
  height: 60px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--blue1);
  font-weight: 600;
}

@media (min-width: 1024px) {
  .page-item-count {
    text-align: left;
  }
}


/* Icons */

.arrow-up {
  background-color: var(--green4);
  width: 16px;
  height: 16px;
  border-radius: 9999px;
  padding: 2px;
}

.check-icon {
  background-color: var(--green4);
  width: 16px;
  height: 16px;
  border-radius: 9999px;
  padding: 2px;
}

@media (min-width: 1024px) {

  .header {
    padding-left: var(--sidebar-w);
  }

  .mobile-toolbar,
  .exit-button {
    display: none;
  }
}


/* Table */

.table-wrap {
  width: 100%;
  /* padding-left: 1rem;
  padding-right: 1rem; */
  overflow: hidden;
  /* border-radius: 0.375rem; */
}

.scroll-wrap {
  width: 100%;
  overflow-x: auto;
}

.Table {
  width: 100%;
  /* margin-top: var(--m6); */
  font-size: var(--text-s);
  /* background: var(--grey);
  border: var(--sborder);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); */
}

.no-records-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: var(--m8);
  padding: 4px;
}

.table-head {
  border-bottom: var(--sborder);
}

.th-title {
  text-align: left;
  align-items: center;
  font-size: var(--text-s);
  color: var(--dark2);
  text-transform: uppercase;
  font-weight: 600;
  padding: var(--pad-cell)
}

.table-row {
  border-bottom: var(--sborder);
  cursor: pointer;
  padding: var(--m4);
    /* border: 1px solid red; */
}

.table-row.wide {
  height: 60px;
}
  /* .table-row:last-child {
    border-bottom: none;
  } */

  .table-row:hover {
    background-color: #F6F8F9;
  }

.table-col {
  text-align: left;
  padding: var(--pad-cell)
    /* border: 1px solid red; */
}

.table-cell {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border: 1px solid rgb(60, 255, 0); */
}

.cell-currency {
  min-width: 24px;
  text-transform: uppercase;
}

.cell-amount {
  min-width: 56px;
  /* font-weight: 600; */
}

/* Status Tab Section */

.status-tab-container {
  position: relative;
  border-bottom: var(--sborder);
  margin-bottom: var(--m4);
}

.myTabRoot {
  color: var(--dark4) !important;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: none !important;
  letter-spacing: 0.02rem !important;
}
.myTabSelected {
  color: #5545fa !important; 
  text-transform: none !important;
  font-weight: 500 !important;
}

/* FILTER SECTION */

/* Add-filter button */

.addfilter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: var(--m3);
  padding-bottom: var(--m3);
  border-bottom: var(--sborder);
}

.addfilter-btn {
  position: absolute;
  top: 4px;
  right: var(--m4);
}

.clear-btn {
  position: absolute;
  top: -18px;
  right: var(--m4);
}

/* temporary */
@media (max-width: 700px) {
  .addfilter-btn,
  .clear-btn,
  .filter-item-wrap {
    display: none;
  }
}

/* Add Filter Drowpdown */

.addfilter-dropdown {
  position: absolute;
  top: 44px; 
  right: var(--m4);
  cursor: pointer;
  min-width: 140px;
  height:  36px;
  z-index: 20;
  background: var(--white);
  border: var(--sborder);
  border-radius: var(--btn-rad);
  display: flex;
  align-items: center;
  padding: 0 var(--m3);
  box-shadow: var(--sh-box);
  font-size: var(--text-s);
  color: var(--dark4);
}
  .addfilter-dropdown::before,
  .addfilter-dropdown::after {
    content: "";
    position: absolute;
    border-style: solid;
  }
  .addfilter-dropdown::before {
    top: -18px;
    left: 26px;
    border-width: 9px;
    border-color: transparent transparent var(--white) transparent;
    z-index: 2;
  }
  .addfilter-dropdown::after {
    top: -20px;
    left: 25px;
    border-width: 10px;
    border-color: transparent transparent var(--grey3) transparent;
  }

/* Filter Items */

.filter-item-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--grey);
  border-radius: var(--r5);
  border: 1px dashed var(--grey4);
  padding: var(--m1) var(--m3) var(--m1) var(--m2);
  gap: var(--m2);
  color: var(--dark4);
  font-weight: 600;
}
  .filter-item-wrap.active {
    padding: var(--m1) var(--m2);
    border: 1px solid var(--grey3); 
  }

  .filter-divider {
    height: 16px;
    width: 1px;
    background: var(--grey5);
  }

.filter-item-box {
  position: absolute;
  top: 40px;
  width: max-content;
  z-index: 30;
  display: flex;
  flex-direction: column;
  border: var(--sborder);
  border-radius: var(--r3);
  box-shadow: var(--sh-box);
  background-color: #ffffff;
  padding: var(--m4);
}

/* Date Filter */

.filter-item-box.date-filter {
  min-width: 290px;
  gap: var(--m4);
}

.selectdate-wrap {
  display: flex;
  align-items: center;
  position: relative;
  gap: var(--m2);
}

.selectdate-input {
  width: 110px;
  display: flex;
  align-items: center;
  background-color: var(--white);
}

.calendar-input-wrap {
  position: relative;
  cursor: pointer;
}
.calendar-input {
  min-width: 110px;
  display: flex;
  align-items: center;
  padding-left: var(--m7);
  background-color: var(--white);
}

.calendar-icon {
  position: absolute;
  top: 6px;
  left: 6px;
}

.calendar-container {
  position: absolute;
  width: 324px;
  top: 40px;
  left: 0;
  /* modify width for mobile here*/
}

.timezone-wrap {
  display: flex;
  gap: var(--m1);
}

.filter-icon {
  width: 18px;
  height: 18px;
}

.filter-icon svg path {
  fill: black;
}

/* Download Box */

.download-box {
  position: absolute;
  top: 36px;
  left: -154px;
  gap: 8px;
  height: 96px;
  color: var(--main);
  margin-top: 8px;
  background-color: var(--white);
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: var(--sborder);
  min-width: 250px;
}

.download-box2 {
  position: absolute;
  top: 160px;
  right: 24px;
  gap: 8px;
  height: 96px;
  color: var(--main);
  margin-top: 8px;
  background-color: var(--white);
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: var(--sborder);
  min-width: 250px;
}

@media (min-width: 1024px) {
  .download-box {
    width: 300px;
  }
}
