
/* Main Container */

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid red; */
}

.page-container {
  width: 100%;
  padding: var(--m5);
  /* border: 2px solid rgb(0, 255, 0); */
}

/* Dashboard / Overview Page */

#dashboard {
  display: flex;
  flex-direction: column;
  gap: var(--m4);
}

.summary-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--m4);
  justify-content: center;
  align-items: flex-start;
  /* border: 2px solid rgb(0, 255, 0); */
}

.databox-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--m4);
  justify-content: center;
  align-items: flex-start;
  /* border: 2px solid rgb(0, 255, 0); */
}

.databox-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--m4);
  /* border: 2px solid rgb(217, 91, 255); */
}

.databox {
  width: 100%;
  border: var(--sborder);
  border-radius: var(--radius);
  padding: var(--padBox);
  /* box-shadow: var(--sh-box); */
}

.databox-content {
  padding-top: var(--m2);
}

.dash-header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--m4);
}

.dash-header-box {
  width: 100%;
  min-height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--sborder);
  border-radius: var(--radius);
  padding: var(--padBox);
}

@media (min-width: 768px) {
  .dash-header-box {
    width: 33.333%;
  }
}


@media (min-width: 1280px) {

  .databox-group {
    flex-direction: row;
    gap: var(--m3);
  }

  .databox-wrap.account {
    width: 60%;
  }
  .databox-wrap.transactions {
    width: 40%;
  }
}


@media (min-width: 768px) {
  .dash-header {
    flex-direction: row;
    gap: var(--m3);
  }
}