/* ----------------Discarded CSS --------------------*/

/* Old filter Tabs */

.filter-wrap {
  width: 100%;
  background-color: #fff;
  border-bottom: var(--sborder);
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  display: inline-flex;
} 
 .filter-tab {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.375rem;
  display: inline-flex;
  padding-top: var(--m1);
  padding-left: var(--m1);
  padding-right: var(--m1);
  height: 2.25rem;
  border-radius: 0.125rem;
  cursor: pointer;
} 
 .filter-tab.active {
  border-bottom: 2px solid var(--main);
  color: var(--main);
}
.filter-tab:hover {
  color: var(--main);
}

/* ----------------Discarded React --------------------*/

/*  

// Editable Box Logic

<p
className={`text-[#252C32] text-sm lg:text-remove  font-remove poppins-remove whitespace-pre-wrap flex ${
  !isDescEditable ? "flex-row" : "flex-col"
} items-start gap-2`}
>
{isDescEditable ? (
  <input
    type="text"
    value={descriptionInput}
    className="border border-[#E5E9EB] w-40 lg:w-auto px-1"
    onChange={(e) => setDescriptionInput(e.target.value)}
  />
) : (
<span className="w-auto overflow-hidden text-ellipsis">
  {paymentDetails?.description
    ? paymentDetails?.description
    : "N/A"}
</span>
 )} 

{!isDescEditable && (
  <button onClick={handleDescriptionEdit}>
    <Image src={pencilsimple} alt="edit" className="" />
  </button>
)}
{isDescEditable && (
  <div className="flex items-center gap-4">
    <button
      className="bg-[#6200EE] text-[#F9F9F7]  flex items-center justify-center text-sm gap-3 h-6 w-20 rounded-md"
      type="button"
      onClick={handleDescriptionSubmit}
    >
      Submit
    </button>
    <button
      className="bg-[#6200EE] text-[#F9F9F7]  flex items-center justify-center gap-3 text-sm h-6 w-20 rounded-md"
      type="button"
      onClick={() => setIsDescEditable(false)}
    >
      Cancel
    </button>
  </div>
)}
</p> 

////// Highlighted Report / Status of Payout 

<div className="w-[30%] p-2 bg-[#F6F8F9] rounded-lg flex-col justify-start items-start gap-1 inline-flex max-sm:w-[100%]">
        <div className="py-px flex-col justify-start items-start flex">
          <div className="px-1.5 py-0.5 bg-[#E5E9EB] rounded justify-center items-center gap-2.5 inline-flex">
            <div className="text-[#111012] text-xs font-semibold poppins-remove leading-[18px] tracking-tight">
              Highlighted Report
            </div>
          </div>
        </div>
        <div className="self-stretch justify-start items-start inline-flex">
          <div className="grow shrink basis-0 self-stretch blue-text text-sm font-semibold poppins-remove leading-normal">
            Balance
          </div>
        </div>
        <div className="self-stretch justify-start items-start inline-flex">
          <div className="grow shrink basis-0 self-stretch text-[#6A7781] text-sm  font-remove poppins-remove leading-normal">
            Reconcile your HIFI Pay balance and download your categorized
            transaction history.
          </div>
        </div>
      </div> 


      <div className="w-[30%] p-2 bg-gray-50 rounded-lg flex-col justify-start items-start gap-1 inline-flex max-sm:w-[100%]">
        <div className=" justify-start items-start inline-flex">
          <div className="grow shrink basis-0  text-[#4B5563] text-sm font-semibold poppins-remove leading-normal">
            Looking for the status of a payout?
          </div>
        </div>
        <div className=" justify-start items-start inline-flex">
          <div className="grow shrink basis-0  text-[#6A7781] text-sm  font-remove poppins-remove leading-normal">
            Click to view each payout’s details to see where it is in the payout
            process, as well as information to help resolve any issues.
          </div>
        </div>
      </div> 

        <div className="hidden md:flex items-start">
        <div className="w-6 h-6 p-0.5">
          <div
            className={`w-5 h-5 -ml-1 relative ${
              data?.status === "negative" ? "flex" : "hidden"
            }`}
          >
            <Image src={warning} alt="warning" />
          </div>
        </div>
        <div
          className={`w-[350px] text-remove  font-remove leading-normal ${
            data?.status === "negative"
              ? "text-[#D5672B]"
              : "blue-text"
          }`}
        >
          Payouts will resume when your available transactions are
          positive.
        </div>
      </div> 


 */




